In [1]:
import MetaTrader5 as mt5
import pyodbc
from datetime import datetime

In [2]:
mt5.initialize()

True

In [3]:
login = 510412913
password = 'Lwalid@2020'
server = 'FxPro-MT5'

In [4]:
mt5.login(login, password, server)

True

In [74]:
def connect_to_sql_server(server, database, username, password):
    connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"
    return pyodbc.connect(connection_string)

def retrieve_GBPJPY_data(connection, my_args):
    mt5.initialize()
    cursor = connection.cursor()
    sqlServerQuery = f"SELECT top 1 * FROM {'PRICE_DATA_GBPJPY_' + my_args[0]} ORDER BY mt5_Timestamp DESC" 
    cursor.execute(sqlServerQuery) 
    rows = cursor.fetchall()
    dateTarget = rows[0][0] if rows else my_args[2]
    cursor.close()
    rates = mt5.copy_rates_range("GBPJPY", my_args[1], dateTarget, datetime.now())
    mt5.shutdown()
    return rates

def check_if_data_exists(connection, timestamp, my_args):
    cursor = connection.cursor()
    sqlServerQuery = f"SELECT COUNT(*) FROM {'PRICE_DATA_GBPJPY_' + my_args[0]} WHERE mt5_Timestamp = '{datetime.fromtimestamp(timestamp).strftime('%Y-%m-%d %H:%M:%S')}'" 
    cursor.execute(sqlServerQuery)
    count = cursor.fetchone()[0]
    return count > 0

def insert_data_to_sql_server(connection, data, my_args):
    cursor = connection.cursor()
    for row in data:
        timestamp, open_price, high_price, low_price, close_price, tick_volume, *_ = row
        if not check_if_data_exists(connection, timestamp, my_args):
            # Convert tick_volume to integer
            tick_volume = int(tick_volume)
            sqlServerQuery = f"INSERT INTO {'PRICE_DATA_GBPJPY_' + my_args[0]} (mt5_Timestamp, mt5_Open, mt5_High, mt5_Low, mt5_Close, mt5_Volume) VALUES ('{datetime.fromtimestamp(timestamp).strftime('%Y-%m-%d %H:%M:%S')}',{open_price}, {high_price}, {low_price}, {close_price}, {tick_volume})"
            cursor.execute(sqlServerQuery)
    connection.commit()

# function to delete last row in a table to renew it 
def deletelastbare(connection, my_args):
    cursor = connection.cursor()
    sqlServerQuery = f"SELECT top 1 * FROM {'PRICE_DATA_GBPJPY_' + my_args[0]} ORDER BY mt5_Timestamp DESC" 
    cursor.execute(sqlServerQuery) 
    rows = cursor.fetchall()
    if rows:
        dateTarget = rows[0][0]
        sqlServerQuery = f"DELETE FROM {'PRICE_DATA_GBPJPY_' + my_args[0]} WHERE mt5_Timestamp = '{dateTarget}'" 
        cursor.execute(sqlServerQuery)
        connection.commit()
    cursor.close() 

def switch_case(argument):
    switcher = {
        'M5' : ['M5', mt5.TIMEFRAME_M5, datetime(2023, 5, 1)],
        'M15' : ['M15', mt5.TIMEFRAME_M15, datetime(2022, 1, 1)],
        'H1' : ['H1', mt5.TIMEFRAME_H1, datetime(2018, 1, 1)],   
        'H4' : ['H4', mt5.TIMEFRAME_H4, datetime(2018, 1, 1)],  
        'D1' : ['D1', mt5.TIMEFRAME_D1, datetime(2010, 1, 1)],    
        'W1' : ['W1', mt5.TIMEFRAME_W1, datetime(2007, 1, 1)],
        'MN1' : ['MN1', mt5.TIMEFRAME_MN1, datetime(2007, 1, 1)],      
    }
    return switcher.get(argument, "Invalid case")
    
if __name__ == "__main__":
    server = 'LAP-DEV4\\TIREXRL'
    database = 'forex'
    username = 'devouichen'
    password = 'devouichen'

    # Example usage:
    my_args = switch_case('M5')
    
    connection = connect_to_sql_server(server, database, username, password)
    data = retrieve_GBPJPY_data(connection, my_args)
    deletelastbare(connection, my_args)
    insert_data_to_sql_server(connection, data, my_args)
    connection.close()